body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background: linear-gradient(to right bottom, red, orange, yellow, green, lightblue, blue, violet); 
    color: lightgreen; 
    padding: 15px; 
    font-size: 16pt;
}

footer {
    background: linear-gradient(to right bottom, red, orange, yellow, green, lightblue, blue, violet); 
    color: lightgreen; 
    padding: 15px;
    font-size: 10pt; 
    font-style: italic; 
    text-align: right;
}

a {
    color: green;
    text-decoration: none;
}

a:visited {
    color: rgb(18, 11, 113); 
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white; 
    font-weight: bold;
}

a:active {
    color: pink;
    background-color: green;
}