body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background: linear-gradient(to right, red, orange, yellow, green, lightblue, blue, violet); 
    color: lightgreen; 
    padding: 15px; 
    font-size: 16pt;
    transition: 500ms 2s;
}

header:hover {
    font-size: xx-large;
    transition: 800ms 0.1s;
}

header:active {
    color: blue;
    transition: 500ms 0.1s;
}

footer {
    background: linear-gradient(to right, red, orange, yellow, green, lightblue, blue, violet); 
    color: lightgreen; 
    padding: 15px;
    font-size: 10pt; 
    font-style: italic; 
    text-align: right;
    transition: 500ms 2s;
}

footer:hover {
    font-size: large;
    transition: 800ms 0.1s;
}

footer:active {
    color: blue;
    transition: 500ms 0.1s;
}

a {
    color: green;
    text-decoration: none;
    transition: 500ms 1s;
}

a:visited {
    color: rgb(18, 11, 113); 
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white; 
    font-weight: bold;
    text-shadow: 4px 4px 3px rgb(164, 81, 77);
    transition: 300ms 0.1s;
}

a:active {
    color: pink;
    background-color: green;
}